/* cabeçalho */
body {
    margin: 0;
    background-color: #9c2424;
}

header {
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 40px;
    justify-content: space-between;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: #6e0b0b;
}

.logo {
    width: 600px;
    margin-left: -150px;
}

.menu {
    display: flex;
    gap: 70px;
    margin-right: 150px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-family: 'Playfair Display', serif;
}

.menu a:hover {
    transform: scale(1.1);
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

/* corpo */
.titulo {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 70px;
    font-family: 'Playfair Display', serif;
}

.receita-filme {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    padding-top: 5px;
    width: 70%;
}

.receita-filme img {
    border-radius: 20px;
    margin-right: 45px;
    box-shadow: 0 0 40px 5px rgba(0, 0, 0, 0.8);
}

.receita-filme p {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 5px;
    font-family: 'Playfair Display', serif;
}

.receita-real {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(255, 241, 226);
    box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.8);
    margin-top: 120px;
    margin-bottom: 80px;
    padding: 60px;
    padding-left: 200px;
    padding-right: 200px;
}

.receita-real a {
    text-decoration: none;
}

.receita-real h1:hover {
    transform: scale(1.1);
    text-shadow: 0 0 20px #6e0b0b;
}

.receita-real p {
    color: rgb(0, 0, 0);
    font-size: 26px;
    font-weight: normal;
    margin-bottom: 5px;
    font-family: 'Playfair Display', serif;
}

.receita-real img {
    border-radius: 25px;
    margin-left: 35px;
}

.texto {
    text-align: center;
}

.texto a {
    color: #ffffff;
}

h1 {
    color: #6e0b0b;
    text-align: center;
    font-size: 35px;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
}

.quote {
    font-style: italic;
    font-size: 25px;
    text-align: center;
    margin-top: 30px;
    color: #fff6f6;
}

/* Rodapé */
footer {
    background-color: #6e0b0b;
    color: rgb(255, 255, 255);
    font-family: 'Playfair Display', serif;
}

.rodape {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 25px;
}

.rodape h3 {
    font-size: 20px;
    padding-bottom: 17px;
    border-bottom: rgb(255, 255, 255) 1px solid;
}

.rodape p {
    margin-top: 17px;
}

.caixa form input {
    background-color: transparent;
    border: none;
    outline: none;
    border: rgb(255, 255, 255) 1px solid;
    padding: 7px;
    border-radius: 10px;
    color: #6e0b0b;
    margin: 5px;
    font-weight: bold;
}

.caixa form input::placeholder {
    color: rgb(255, 255, 255);
}

.caixa .botao {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.copy {
    text-align: center;
    padding-bottom: 50px;
}